<h3> <a href="/employee">Create New</a> Employee List</h3>
<table>
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>City</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
            <tr>
                <td>{{this.fullname}}</td>
                <td>{{this.email}}</td>
                <td>{{this.mobile}}</td>
                <td>{{this.city}}</td>
                <td>
                    <a href="/employee/{{this._id}}">edit</a>
                    <a href="/employee/delete/{{this._id}}" onclick="return confirm('Are you sure you wan to delete this record?');">delete</a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>